.image-placeholder{
height:180px;
background-size:cover;
background-position:center;
border-radius:5px;
}

.car70{
background-image:url("../images/70_tal_bil.webp");

}
.car80{
background-image:url("../images/80_tal_bil.jpeg");
}

.car90{
background-image:url("../images/90_tals_bil.jpg");
}

 